*.pdf
*.png
*.pptx
*.md
*.pkt
*.txt
*.canvas
*.drawio
*.xlsx
*.docx
*.jpg

desktop.ini

/.obsidian
/.trash
/Bøger
/Fællesnoter
/Images
/Komponenter
/Prog/Undervisning/Prog_1_09
/StudieMiljøRepræsentant
/Templates

.849C9593-D756-4E56-8D6E-42412F2A707B
*.json
/Attachments
*.url
*.csv
/Gruppe 9/.obsidian/plugins
/Gruppe 9/Attachments
*.vmcx
*.vmgs
*.iso
*.VMRS
*.avhdx
*.sav
*.vhdx
*.2
*.log
*.partial
*.1
*.3
*.vdi
.xdg-volume-info
