*.pdf
*.png
*.pptx
*.md
*.pkt
*.txt
*.canvas
*.drawio
*.xlsx
*.docx
*.jpg

desktop.ini

/.obsidian
/.trash
/Bøger
/Fællesnoter
/Images
/Komponenter
/Prog/Undervisning/Prog_1_09
/StudieMiljøRepræsentant
/Templates

.849C9593-D756-4E56-8D6E-42412F2A707B
*.json
/Attachments
